body {
  margin: 0 0 0 0; /* Remove ugly left side border */
  text-size-adjust: none; /* Fix Android Big Text */
  text-rendering: optimizeLegibility; /* Improve text */
}

@media (min-width: 0px) and (orientation:landscape) { /* Rotated smartphone css here */
  body {
    font-size: 1.1vw;
  }
}

